# =========================
# IDEs
# =========================
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# =========================
# Maven / Java
# =========================
target/
*.log

# =========================
# Node / Angular
# =========================
node_modules/
dist/
.angular/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Env / Secrets
# =========================
.env
